/* Created a defalt be fore affecting changes */
/* img { width: 100%; height: auto; } */

nav {
    background: #222; 
    color: #FFF;
    /* padding: 3em;  */
}

/* Moving the li into place  */
.bar{
    margin: 0; 
    padding: 0;
}
/* is it necessary to have two display blocks and why did the text center aline not work ? */
.bar li, .search-container {
    display: block;
    padding: 1rem;
    list-style-type: none;
}
.bar li a { 
    display: block;
    color:#c78c06;
    text-align: center;
    text-decoration: none;
    font-size: 25px;
}
.bar, li.home a {
    color: #222; 
}
.bar li.logo, ul.bar li.home { 
    background-color: #c78c06; 
}

form.search-container {
    display: flex;
    flex-direction: row;
}
form.search-container input {
    padding: 10px;
    font-size: 17px;
    border: 1px solid white;
    float: left;
    /* width: calc(100% -20px); */
    flex-grow: 1;
    background: #f1f1f1;
}

/* form.search-container {
    box-sizing: border-box;  ?   */
    
form.search-container button {
    float: left;
    width: 40px;
    /* padding: 10px; */
    background: #222;
    color:#c78c06;
    font-size: 17px;
    border: 1px solid #c78c06;
    border-left: none;
    cursor: pointer;
}

/* Section one welcome  */

.welcome {
    background-image: url(../images/main-banner.jpg);
    padding: 70px 0; 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
} 

.welcome div {
    background-color: #222222c5;
    padding: 48px; 
}
    

/* Section text and button */
div h1,p.wone{
    color: white;
}
div h1{
    font-size: 60px;

}
div p.wone{
    font-size: 20px;
}
button.b1 {
    background-color: #c78c06;
    border: none;
    font-size: 25px;
    padding: 40px 30px;  
}
/* Section About */

.about {
    background-color: #ffe6ac;
    padding: 3rem; 
    position: center;
    
}
/*  */
img.fillspace { width: 100%; height: auto; }
.sectionpad { padding: 0.5rem; }

@media screen and (min-width: 760px) {
    .sectionpad { padding: 3em; }
    .bar, .bar li, .search-container { display: inline-block; }
    .bar li.logo { padding: 0; }
}



























/* nav { background: #222; color: #FFF; padding: 1em; list-style-type: none; }
nav ul.wrapper { margin: 0; padding: 0; }
nav ul.wrapper li, nav form.search-container { display: block; padding: 1em; }
nav form.search-container { padding: 1em; }
nav ul.wrapper li { text-align: center; }
nav ul.wrapper li a, nav form.search-container button { color: #c78c06; }
nav ul.wrapper li a { text-decoration: none; }
nav ul.wrapper li.logo { text-align: left; }
nav ul.wrapper li.logo, nav ul.wrapper li.home { background-color: #c78c06; }
nav ul.wrapper li.home a { color: #222; }
nav form.search-container input { width: 90%; }
nav form.search-container button { width: 5%; } */